{% extends 'index.html' %}

Este es el login
{% block title %}
Login
{% endblock %}

{% block 'contenido-variable' %}
<!--DEBUG Holis, khe onda.-->

    <!--BARRA DE NAVEGACIÓN-->
    {% block 'barra_navegacion' %}
<!--        <a class="navbar-brand" href="{% url 'AppblogInicio' %}">Inicio</a>-->
    {% endblock %}

    <!--MANEJO DE ERRORES:-->
    {% if formulario_provincia.errors%}
        Ups, algo malió sal.
    {% endif %}

    <!--Nuestro formulario-->
    <form action="" method="POST">{% csrf_token %}
        <table>
            {% block formulario_especifico %}
            {% endblock %}
        </table>
        <input type="submit" value="Login">
    </form>
{% endblock %}